In [ ]:
import pandas as pd
import numpy as np
import sklearn
missing_values = ["n/a", "na", "--", " ", "  ", "   ", "    ", "? "]
column_names = ["age", "workclass" , "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", "race" , "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "Target"]
df = pd.read_csv('/content/adult.csv', na_values = missing_values, names=column_names)
df.head()

   age          workclass  fnlwgt  ... hours-per-week  native-country  Target
0   39          State-gov   77516  ...             40   United-States   <=50K
1   50   Self-emp-not-inc   83311  ...             13   United-States   <=50K
2   38            Private  215646  ...             40   United-States   <=50K
3   53            Private  234721  ...             40   United-States   <=50K
4   28            Private  338409  ...             40            Cuba   <=50K

[5 rows x 15 columns]

In [ ]:
df_target = df['Target']
df_target = np.array(df_target)
i = -1
for value in df_target:
  i += 1
  if "<=50K" in value:
    df_target[i] = "0"
  if ">50K" in value:
    df_target[i] = "1"

In [ ]:
df_target = pd.DataFrame(df_target)

In [ ]:
df['Target'] = df_target

In [ ]:
df.tail()

       age      workclass  fnlwgt  ... hours-per-week  native-country Target
32556   27        Private  257302  ...             38   United-States      0
32557   40        Private  154374  ...             40   United-States      1
32558   58        Private  151910  ...             40   United-States      0
32559   22        Private  201490  ...             20   United-States      0
32560   52   Self-emp-inc  287927  ...             40   United-States      1

[5 rows x 15 columns]

In [ ]:
age_col = df['age']
age_col = np.array(age_col)
age_col = age_col.reshape(-1, 1)
age_col.shape

(32561, 1)

In [ ]:
from sklearn.preprocessing import KBinsDiscretizer
enc = KBinsDiscretizer(n_bins=5, encode='ordinal')
age_binned = enc.fit_transform(age_col)

In [ ]:
age = pd.DataFrame(age_binned)
df['age'] = age

In [ ]:
df = df.drop(['fnlwgt'], axis=1)

In [ ]:
df = df.drop(['education-num'], axis=1)

In [ ]:
df.head()

   age          workclass   education  ... hours-per-week  native-country Target
0  2.0          State-gov   Bachelors  ...             40   United-States      0
1  4.0   Self-emp-not-inc   Bachelors  ...             13   United-States      0
2  2.0            Private     HS-grad  ...             40   United-States      0
3  4.0            Private        11th  ...             40   United-States      0
4  1.0            Private   Bachelors  ...             40            Cuba      0

[5 rows x 13 columns]

In [ ]:
hrs_col = df['hours-per-week']
hrs_col = np.array(hrs_col)
hrs_col = hrs_col.reshape(-1, 1)
enc = KBinsDiscretizer(n_bins=5, encode='ordinal')
hrs_binned = enc.fit_transform(hrs_col)
hrs = pd.DataFrame(hrs_binned)
df['hours-per-week'] = hrs

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_discretization.py:197: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 0 are removed. Consider decreasing the number of bins.
  'decreasing the number of bins.' % jj)

In [ ]:
df.tail()

       age      workclass    education  ... hours-per-week  native-country Target
32556  1.0        Private   Assoc-acdm  ...            1.0   United-States      0
32557  2.0        Private      HS-grad  ...            2.0   United-States      1
32558  4.0        Private      HS-grad  ...            2.0   United-States      0
32559  0.0        Private      HS-grad  ...            0.0   United-States      0
32560  4.0   Self-emp-inc      HS-grad  ...            2.0   United-States      1

[5 rows x 13 columns]

In [ ]:
cap_gain_list = []
cap_gain = np.array(df['capital-gain'])
for value in cap_gain:
  value = int(value)
  if value > 0:
    cap_gain_list.append(value)
cap_gain_list.sort()

In [ ]:
print(cap_gain_list)

[114, 114, 114, 114, 114, 114, 401, 401, 594, 594, 594, 594, 594, 594, 594, 594, 594, 594, 594, 594, 594, 594, 594, 594, 594, 594, 594, 594, 594, 594, 594, 594, 594, 594, 594, 594, 594, 594, 594, 594, 594, 594, 914, 914, 914, 914, 914, 914, 914, 914, 991, 991, 991, 991, 991, 1055, 1055, 1055, 1055, 1055, 1055, 1055, 1055, 1055, 1055, 1055, 1055, 1055, 1055, 1055, 1055, 1055, 1055, 1055, 1055, 1055, 1055, 1055, 1055, 1055, 1086, 1086, 1086, 1086, 1111, 1151, 1151, 1151, 1151, 1151, 1151, 1151, 1151, 1173, 1173, 1173, 1409, 1409, 1409, 1409, 1409, 1409, 1409, 1424, 1424, 1424, 1455, 1471, 1471, 1471, 1471, 1471, 1471, 1471, 1506, 1506, 1506, 1506, 1506, 1506, 1506, 1506, 1506, 1506, 1506, 1506, 1506, 1506, 1506, 1639, 1797, 1797, 1797, 1797, 1797, 1797, 1797, 1831, 1831, 1831, 1831, 1831, 1831, 1831, 1848, 1848, 1848, 1848, 1848, 1848, 2009, 2009, 2009, 2036, 2036, 2036, 2036, 2050, 2050, 2050, 2050, 2050, 2062, 2062, 2105, 2105, 2105, 2105, 2105, 2105, 2105, 2105, 2105, 2174, 2174, 2174, 2174, 2174, 2174, 2174, 2174, 2174, 2174, 2174, 2174, 2174, 2174, 2174, 2174, 2174, 2174, 2174, 2174, 2174, 2174, 2174, 2174, 2174, 2174, 2174, 2174, 2174, 2174, 2174, 2174, 2174, 2174, 2174, 2174, 2174, 2174, 2174, 2174, 2174, 2174, 2174, 2174, 2174, 2174, 2174, 2174, 2176, 2176, 2176, 2176, 2176, 2176, 2176, 2176, 2176, 2176, 2176, 2176, 2176, 2176, 2176, 2176, 2176, 2176, 2176, 2176, 2176, 2176, 2176, 2202, 2202, 2202, 2202, 2202, 2202, 2202, 2202, 2202, 2202, 2202, 2202, 2202, 2202, 2202, 2202, 2228, 2228, 2228, 2228, 2228, 2290, 2290, 2290, 2290, 2290, 2329, 2329, 2329, 2329, 2329, 2329, 2346, 2346, 2346, 2346, 2346, 2346, 2354, 2354, 2354, 2354, 2354, 2354, 2354, 2354, 2354, 2354, 2354, 2387, 2407, 2407, 2407, 2407, 2407, 2407, 2407, 2407, 2407, 2407, 2407, 2407, 2407, 2407, 2407, 2407, 2407, 2407, 2407, 2414, 2414, 2414, 2414, 2414, 2414, 2414, 2414, 2463, 2463, 2463, 2463, 2463, 2463, 2463, 2463, 2463, 2463, 2463, 2538, 2580, 2580, 2580, 2580, 2580, 2580, 2580, 2580, 2580, 2580, 2580, 2580, 2597, 2597, 2597, 2597, 2597, 2597, 2597, 2597, 2597, 2597, 2597, 2597, 2597, 2597, 2597, 2597, 2597, 2597, 2597, 2597, 2635, 2635, 2635, 2635, 2635, 2635, 2635, 2635, 2635, 2635, 2635, 2653, 2653, 2653, 2653, 2653, 2829, 2829, 2829, 2829, 2829, 2829, 2829, 2829, 2829, 2829, 2829, 2829, 2829, 2829, 2829, 2829, 2829, 2829, 2829, 2829, 2829, 2829, 2829, 2829, 2829, 2829, 2829, 2829, 2829, 2829, 2829, 2885, 2885, 2885, 2885, 2885, 2885, 2885, 2885, 2885, 2885, 2885, 2885, 2885, 2885, 2885, 2885, 2885, 2885, 2885, 2885, 2885, 2885, 2885, 2885, 2907, 2907, 2907, 2907, 2907, 2907, 2907, 2907, 2907, 2907, 2907, 2936, 2936, 2936, 2961, 2961, 2961, 2964, 2964, 2964, 2964, 2964, 2964, 2964, 2964, 2964, 2977, 2977, 2977, 2977, 2977, 2977, 2977, 2977, 2993, 2993, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3103, 3137, 3137, 3137, 3137, 3137, 3137, 3137, 3137, 3137, 3137, 3137, 3137, 3137, 3137, 3137, 3137, 3137, 3137, 3137, 3137, 3137, 3137, 3137, 3137, 3137, 3137, 3137, 3137, 3137, 3137, 3137, 3137, 3137, 3137, 3137, 3137, 3137, 3273, 3273, 3273, 3273, 3273, 3273, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3325, 3411, 3411, 3411, 3411, 3411, 3411, 3411, 3411, 3411, 3411, 3411, 3411, 3411, 3411, 3411, 3411, 3411, 3411, 3411, 3411, 3411, 3411, 3411, 3411, 3418, 3418, 3418, 3418, 3418, 3432, 3432, 3432, 3432, 3456, 3456, 3464, 3464, 3464, 3464, 3464, 3464, 3464, 3464, 3464, 3464, 3464, 3464, 3464, 3464, 3464, 3464, 3464, 3464, 3464, 3464, 3464, 3464, 3464, 3471, 3471, 3471, 3471, 3471, 3471, 3471, 3471, 3674, 3674, 3674, 3674, 3674, 3674, 3674, 3674, 3674, 3674, 3674, 3674, 3674, 3674, 3781, 3781, 3781, 3781, 3781, 3781, 3781, 3781, 3781, 3781, 3781, 3781, 3818, 3818, 3818, 3818, 3818, 3818, 3818, 3887, 3887, 3887, 3887, 3887, 3887, 3908, 3908, 3908, 3908, 3908, 3908, 3908, 3908, 3908, 3908, 3908, 3908, 3908, 3908, 3908, 3908, 3908, 3908, 3908, 3908, 3908, 3908, 3908, 3908, 3908, 3908, 3908, 3908, 3908, 3908, 3908, 3908, 3942, 3942, 3942, 3942, 3942, 3942, 3942, 3942, 3942, 3942, 3942, 3942, 3942, 3942, 4064, 4064, 4064, 4064, 4064, 4064, 4064, 4064, 4064, 4064, 4064, 4064, 4064, 4064, 4064, 4064, 4064, 4064, 4064, 4064, 4064, 4064, 4064, 4064, 4064, 4064, 4064, 4064, 4064, 4064, 4064, 4064, 4064, 4064, 4064, 4064, 4064, 4064, 4064, 4064, 4064, 4064, 4101, 4101, 4101, 4101, 4101, 4101, 4101, 4101, 4101, 4101, 4101, 4101, 4101, 4101, 4101, 4101, 4101, 4101, 4101, 4101, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4386, 4416, 4416, 4416, 4416, 4416, 4416, 4416, 4416, 4416, 4416, 4416, 4416, 4508, 4508, 4508, 4508, 4508, 4508, 4508, 4508, 4508, 4508, 4508, 4508, 4650, 4650, 4650, 4650, 4650, 4650, 4650, 4650, 4650, 4650, 4650, 4650, 4650, 4650, 4650, 4650, 4650, 4650, 4650, 4650, 4650, 4650, 4650, 4650, 4650, 4650, 4650, 4650, 4650, 4650, 4650, 4650, 4650, 4650, 4650, 4650, 4650, 4650, 4650, 4650, 4650, 4687, 4687, 4687, 4787, 4787, 4787, 4787, 4787, 4787, 4787, 4787, 4787, 4787, 4787, 4787, 4787, 4787, 4787, 4787, 4787, 4787, 4787, 4787, 4787, 4787, 4787, 4865, 4865, 4865, 4865, 4865, 4865, 4865, 4865, 4865, 4865, 4865, 4865, 4865, 4865, 4865, 4865, 4865, 4931, 4934, 4934, 4934, 4934, 4934, 4934, 4934, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5013, 5060, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5178, 5455, 5455, 5455, 5455, 5455, 5455, 5455, 5455, 5455, 5455, 5455, 5556, 5556, 5556, 5556, 5556, 5721, 5721, 5721, 6097, 6360, 6360, 6360, 6418, 6418, 6418, 6418, 6418, 6418, 6418, 6418, 6418, 6497, 6497, 6497, 6497, 6497, 6497, 6497, 6497, 6497, 6497, 6497, 6514, 6514, 6514, 6514, 6514, 6723, 6723, 6767, 6767, 6767, 6767, 6767, 6849, 6849, 6849, 6849, 6849, 6849, 6849, 6849, 6849, 6849, 6849, 6849, 6849, 6849, 6849, 6849, 6849, 6849, 6849, 6849, 6849, 6849, 6849, 6849, 6849, 6849, 6849, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7298, 7430, 7430, 7430, 7430, 7430, 7430, 7430, 7430, 7430, 7443, 7443, 7443, 7443, 7443, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7688, 7896, 7896, 7896, 7978, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 8614, 9386, 9386, 9386, 9386, 9386, 9386, 9386, 9386, 9386, 9386, 9386, 9386, 9386, 9386, 9386, 9386, 9386, 9386, 9386, 9386, 9386, 9386, 9562, 9562, 9562, 9562, 10520, 10520, 10520, 10520, 10520, 10520, 10520, 10520, 10520, 10520, 10520, 10520, 10520, 10520, 10520, 10520, 10520, 10520, 10520, 10520, 10520, 10520, 10520, 10520, 10520, 10520, 10520, 10520, 10520, 10520, 10520, 10520, 10520, 10520, 10520, 10520, 10520, 10520, 10520, 10520, 10520, 10520, 10520, 10566, 10566, 10566, 10566, 10566, 10566, 10605, 10605, 10605, 10605, 10605, 10605, 10605, 10605, 10605, 10605, 10605, 10605, 11678, 11678, 13550, 13550, 13550, 13550, 13550, 13550, 13550, 13550, 13550, 13550, 13550, 13550, 13550, 13550, 13550, 13550, 13550, 13550, 13550, 13550, 13550, 13550, 13550, 13550, 13550, 13550, 13550, 14084, 14084, 14084, 14084, 14084, 14084, 14084, 14084, 14084, 14084, 14084, 14084, 14084, 14084, 14084, 14084, 14084, 14084, 14084, 14084, 14084, 14084, 14084, 14084, 14084, 14084, 14084, 14084, 14084, 14084, 14084, 14084, 14084, 14084, 14084, 14084, 14084, 14084, 14084, 14084, 14084, 14344, 14344, 14344, 14344, 14344, 14344, 14344, 14344, 14344, 14344, 14344, 14344, 14344, 14344, 14344, 14344, 14344, 14344, 14344, 14344, 14344, 14344, 14344, 14344, 14344, 14344, 15020, 15020, 15020, 15020, 15020, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15024, 15831, 15831, 15831, 15831, 15831, 15831, 18481, 18481, 20051, 20051, 20051, 20051, 20051, 20051, 20051, 20051, 20051, 20051, 20051, 20051, 20051, 20051, 20051, 20051, 20051, 20051, 20051, 20051, 20051, 20051, 20051, 20051, 20051, 20051, 20051, 20051, 20051, 20051, 20051, 20051, 20051, 20051, 20051, 20051, 20051, 22040, 25124, 25124, 25124, 25124, 25236, 25236, 25236, 25236, 25236, 25236, 25236, 25236, 25236, 25236, 25236, 27828, 27828, 27828, 27828, 27828, 27828, 27828, 27828, 27828, 27828, 27828, 27828, 27828, 27828, 27828, 27828, 27828, 27828, 27828, 27828, 27828, 27828, 27828, 27828, 27828, 27828, 27828, 27828, 27828, 27828, 27828, 27828, 27828, 27828, 34095, 34095, 34095, 34095, 34095, 41310, 41310, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999, 99999]

In [ ]:
import statistics
cap_gain_median = statistics.median(cap_gain_list)

In [ ]:
i = -1
for value in cap_gain:
  i += 1
  value = int(value)
  if value == 0:
    continue
  elif value > 0 and value <= cap_gain_median:
    cap_gain[i] = "1"
  elif value > cap_gain_median:
    cap_gain[i] = "2"

In [ ]:
print(cap_gain)

[1 0 0 ... 0 0 2]

In [ ]:
capital_gain = pd.DataFrame(cap_gain)
df['capital-gain'] = capital_gain
df.head()

   age          workclass   education  ... hours-per-week  native-country Target
0  2.0          State-gov   Bachelors  ...            2.0   United-States      0
1  4.0   Self-emp-not-inc   Bachelors  ...            0.0   United-States      0
2  2.0            Private     HS-grad  ...            2.0   United-States      0
3  4.0            Private        11th  ...            2.0   United-States      0
4  1.0            Private   Bachelors  ...            2.0            Cuba      0

[5 rows x 13 columns]

In [ ]:
cap_loss_list = []
cap_loss = np.array(df['capital-loss'])
for value in cap_loss:
  value = int(value)
  if value > 0:
    cap_loss_list.append(value)

cap_loss_median = statistics.median(cap_loss_list)
i = -1
for value in cap_loss:
  i += 1
  value = int(value)
  if value == 0:
    continue
  elif value > 0 and value <= cap_loss_median:
    cap_loss[i] = "1"
  elif value > cap_loss_median:
    cap_loss[i] = "2"

capital_loss = pd.DataFrame(cap_loss)
df['capital-loss'] = capital_loss
df.head(50)

    age          workclass  ...  native-country Target
0   2.0          State-gov  ...   United-States      0
1   4.0   Self-emp-not-inc  ...   United-States      0
2   2.0            Private  ...   United-States      0
3   4.0            Private  ...   United-States      0
4   1.0            Private  ...            Cuba      0
5   2.0            Private  ...   United-States      0
6   3.0            Private  ...         Jamaica      0
7   4.0   Self-emp-not-inc  ...   United-States      1
8   1.0            Private  ...   United-States      1
9   3.0            Private  ...   United-States      1
10  2.0            Private  ...   United-States      1
11  1.0          State-gov  ...           India      1
12  0.0            Private  ...   United-States      0
13  1.0            Private  ...   United-States      0
14  2.0            Private  ...               ?      1
15  2.0            Private  ...          Mexico      0
16  0.0   Self-emp-not-inc  ...   United-States      0
17  1.0            Private  ...   United-States      0
18  2.0            Private  ...   United-States      0
19  3.0   Self-emp-not-inc  ...   United-States      1
20  2.0            Private  ...   United-States      1
21  4.0            Private  ...   United-States      0
22  2.0        Federal-gov  ...   United-States      0
23  3.0            Private  ...   United-States      0
24  4.0            Private  ...   United-States      0
25  4.0          Local-gov  ...   United-States      1
26  0.0            Private  ...   United-States      0
27  4.0                  ?  ...           South      1
28  2.0            Private  ...   United-States      0
29  3.0            Private  ...   United-States      0
30  0.0          Local-gov  ...   United-States      0
31  0.0            Private  ...   United-States      0
32  3.0            Private  ...   United-States      0
33  1.0        Federal-gov  ...   United-States      0
34  0.0          State-gov  ...   United-States      0
35  3.0            Private  ...     Puerto-Rico      0
36  0.0            Private  ...   United-States      0
37  0.0            Private  ...   United-States      0
38  1.0            Private  ...               ?      1
39  3.0   Self-emp-not-inc  ...   United-States      0
40  1.0            Private  ...   United-States      0
41  4.0   Self-emp-not-inc  ...   United-States      0
42  0.0            Private  ...   United-States      0
43  3.0            Private  ...   United-States      0
44  0.0            Private  ...   United-States      0
45  4.0        Federal-gov  ...   United-States      1
46  4.0            Private  ...   United-States      0
47  3.0            Private  ...   United-States      0
48  3.0          State-gov  ...   United-States      0
49  1.0            Private  ...   United-States      0

[50 rows x 13 columns]

In [ ]:
df.to_csv ('/content/adult_preprocessed.csv', index = False, header=True)